/* Enter your custom styles here */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap");
.sapMFocus.sapMInputBase .sapMInputBaseContentWrapper:not(.sapMInputBaseDisabledWrapper)::before {
    border: 0.125rem solid var(--primary-color) !important;
}
.blue {
    color: #0a6ed1 !important;
}
.login-bg {
    background-color: #dbdbdb !important;
}
.login-bg img {
    width: clamp(240px, 70vw, 260px) !important;
}
.glass {
    background: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 8px 32px 0 rgba(70, 70, 70, 0.37) !important;
    backdrop-filter: blur(7px) !important;
    -webkit-backdrop-filter: blur(7px) !important;
    border-radius: 10px !important;
    border: 1px solid rgba(255, 255, 255, 0.18) !important;
}
.glass-input > div {
    background: rgba(255, 255, 255, 0.35) !important;
    box-shadow: 0 8px 32px 0 rgba(70, 70, 70, 0.37) !important;
    backdrop-filter: blur(7px) !important;
    -webkit-backdrop-filter: blur(7px) !important;
    border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.glass-input > div::before {
    border: none !important;
}

.cusImg img {
    max-width: 180px !important;
    height: 2.4rem !important;
    max-height: 2.4rem !important;
}

html.sap-desktop .sapMBtn:focus > .sapMFocusable:not(.sapMBadgeIndicator):before,
html.sap-desktop .sapMSwtCont:focus > .sapMSwt:before,
.sapMCb:focus:before,
html.sap-desktop .sapMSegBBtnFocusable:focus .sapMSegBBtnInner:after {
    border: none !important;
}
.sapFCardHeader:not(.sapFCardHeaderToolbarFocused):focus-within::before,
.sapFGridContainer .sapFGridContainerItemWrapperNoVisualFocus:focus .sapFCardHeader:not(.sapFCardHeaderToolbarFocused)::before,
.sapFGridContainer .sapFGridContainerItemWrapperNoVisualFocus:focus .sapFCard.sapFCardNoHeader::before {
    border: none !important;
}
.sapMMsgStripMessage {
    overflow: hidden !important;
}
.sapMIBar.sapMHeader-CTX {
    color: var(--sapContent_Illustrative_Color2) !important;
}
.sapMTile {
    border-radius: 10px !important;
}
.sapFCard:not(.sapFCardPreview):not(.sapFCardTransparent):hover {
    box-shadow: 0 0 0 0.0625rem rgb(85 107 130 / 10%), 0 0.125rem 0.5rem 0 rgb(85 107 130 / 10%);
}
.sapUiSizeCompact .sapMSLI.sapMSLIThumbnail,
.sapUiSizeCompact .sapMSLI.sapMSLINoIconInset,
.sapUiSizeCompact .sapMSLI.sapMSLIWithDescription,
.sapUiSizeCompact .sapMSLI.sapMSLINoTitleAdapt {
    height: 4rem;
}
.sapUiSizeCompact .sapMTB {
    height: auto;
}
#workerValueHelpDialog--responsibleDialog-list-listUl .sapMSLIInfo,
#customerValueHelpDialog--customerDialog-list-listUl .sapMSLIInfo {
    display: none;
}
.sapMSltMinWidth {
    min-width: 4.88rem;
}

.sapMTBStandard {
    border-bottom: none;
}
.sapMTB.sapMTBStandard {
    border-bottom: none;
}
#workerValueHelpDialog--responsibleDialog-list-listUl .sapMSLIInfo,
#customerValueHelpDialog--customerDialog-list-listUl .sapMSLIInfo {
    display: none;
}

.xlsLoader,
.xlsLoader > div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.6);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

tr:has([data-status="stts_7"]),
tr:has([data-status="stts_16"]) {
    background-color: #e5ffde !important;
}

tr:has([data-status="stts_6"]),
tr:has([data-status="stts_2"]),
li[data-status="Normal"] {
    background-color: #def3ff !important;
}
tr:has([data-status="stts_8"]),
tr:has([data-status="stts_17"]),
li[data-status="Yüksek"] {
    background-color: #fff0de !important;
}
tr:has([data-status="stts_4"]),
tr:has([data-status="stts_10"]),
tr:has([data-status="stts_9"]),
li[data-status="Acil"] {
    background-color: #ffe4e4 !important;
}
html.sap-desktop .sapMSegBBtnFocusable:focus .sapMSegBBtnInner:after {
    border: none !important;
}
a {
    word-break: break-all !important;
}
.spMessageStrip .sapMText {
    line-height: 1 !important;
}
.spMessageStrip {
    padding: 0.3375rem 0.5rem;
    min-height: 0.4rem;
    font-size: 0.175rem;
    min-width: 64px;
    width: 100% !important;
    text-align: center;
}
.spCustomerRes .sapFCardHeaderTextSecondLine {
    text-decoration: underline;
    color: var(--sapContent_Illustrative_Color13);
}
.spCustomerRes .sapFCardHeaderTextSecondLine span {
    color: var(--sapContent_Illustrative_Color13);
}

.sapMIBar.sapMHeader-CTX {
    color: var(--sapContent_Illustrative_Color2) !important;
}
.sapMRb:focus:before,
html.sap-desktop .sapMBtn:focus > .sapMFocusable:not(.sapMBadgeIndicator):before {
    border: none !important;
}
.sapMCb .sapMLabel {
    line-height: inherit !important;
}
.infoNone .sapMSLIInfoNone {
    display: none !important;
}
.sapMNCValue.Neutral,
.sapMNCIndScale.Neutral,
.sapMNCScale.Neutral {
    color: #556b82;
}
.sapFShellBar .sapFShellBarProfile:hover::before {
    background-color: transparent !important;
}
.app {
    height: calc(100vh - 48px) !important;
}
.sapFShellBar {
    height: 3rem !important;
    border-bottom: 1px solid #e5e5e5 !important;
}
.sapMTB-Transparent-CTX.sapMTB {
    background: #fff;
}
.sapFShellBar .sapFShellBarHomeIcon:hover {
    background: #fff;
    box-shadow: none !important;
    border-radius: 0.5rem;
}
/* ---------------------------------------------------------------------- */
.sapMLIBFocusable:focus {
    border-bottom: 1px solid #e5e5e5 !important;
}
.sapMMsgStripMessage {
    overflow: hidden !important;
}
.sapMLIBHighlightInformation {
    background: transparent;
    border: solid 2px #0070f2;
    border-radius: 5px;
}
.sapMLIBHighlight {
    width: 100% !important;
}
.sapFCardHeader:not(.sapFCardHeaderToolbarFocused):focus-within::before,
.sapFGridContainer .sapFGridContainerItemWrapperNoVisualFocus:focus .sapFCardHeader:not(.sapFCardHeaderToolbarFocused)::before,
.sapFGridContainer .sapFGridContainerItemWrapperNoVisualFocus:focus .sapFCard.sapFCardNoHeader::before {
    border: none !important;
}
.spBar {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
}
.btnActive > span {
    border: solid 1px #009258 !important;
}
.text-elipsis {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 250px !important;
}
li {
    font-size: 14px !important;
}
code {
    background-color: #e8e8e8;
    border-radius: 3px;
    padding: 0.1rem 0.2rem;
}
section[id*="detailPage"] {
    scroll-behavior: smooth !important;
}
.sapUiRespGridSpanInvisible {
    min-height: 0 !important;
}
.textTruncate .sapMTextLineClamp {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    display: block !important;
}
.cardCons > div > .sapFCard {
    box-shadow: none !important;
}
.cardInfo.sapUiRespGrid.sapUiRespGridVSpace1 > div > .sapFCard {
    box-shadow: none !important;
}
.sapFCard:not(.sapFCardPreview):not(.sapFCardTransparent):hover {
    box-shadow: 0 0 0 0.0625rem rgb(85 107 130 / 10%), 0 0.125rem 0.5rem 0 rgb(85 107 130 / 10%) !important;
}
.cardInfo.sapUiRespGrid.sapUiRespGridVSpace1 > div {
    margin-bottom: 0rem !important;
}
.spTicketDialog .sapUiScrollDelegate {
    margin-top: 90px !important;
}
.__infoNone .sapMSLIInfoNone {
    display: none !important;
}
.spPanel > .sapMPanelContent {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.spInputAG input {
    padding-right: 60px !important;
}
.AG {
    position: absolute;
    top: -31px;
    right: 10px;
}
.highlight {
    box-shadow: 0 0 0 0.15rem #1c83f9;
    filter: brightness(0.9);
}
.badge-color {
    cursor: pointer;
    padding: 16px;
}
.badge-color:hover,
.cursor-hand:hover {
    box-shadow: 0 0 0 0.125rem #1c83f9;
    transition: all 0.1s ease-in-out;
}
.white-bg {
    background-color: #fff !important;
}
.easy-toast,
.easy-toast:after,
.easy-toast:before {
    word-break: break-word;
}
.sapFCard .sapFCardHeader .sapFCardSubtitle {
    font-size: 0.79rem !important;
}
.spInput {
    height: 45px !important;
}
.spIcon {
    position: absolute !important;
    z-index: 2 !important;
    left: 10px !important;
    top: -10px !important;
    color: var(--primary-color) !important;
}
p {
    font-size: 0.875rem !important;
}
input[name="pass"],
input[name="user"] {
    padding-left: 40px !important;
    height: 45px !important;
    width: clamp(240px, 70vw, 290px) !important;
}
.login-card {
    width: clamp(300px, 80vw, 400px) !important;
}

.loginBtn,
.loginBtn > .sapMBtnInner {
    height: 45px !important;
    width: clamp(240px, 70vw, 290px) !important;
    display: flex !important;
    align-items: center !important;
}
.loginBtn > .sapMBtnInner {
    background-color: var(--primary-color) !important;
    color: white !important;
}
.sapMSLIInfo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    margin: 0 0 0 1rem;
    font-size: 0.85rem;
    min-width: 2rem;
}
.sapMSLITitle {
    text-transform: uppercase;
}
.VBoxCon {
    padding-top: 12px;
}
.sapMLIBFocusable:focus .sapMLIBHighlight {
    position: absolute;
    width: 0.375rem;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    box-sizing: border-box;
}
.sapMLIB > .sapMLIBSelectS:first-child,
.sapMLIB > .sapMLIBSelectM:first-child {
    margin-left: 0;
}
.sapMTB.sapMTBStandard {
    border-bottom: solid 0rem #a8b3bd;
}
.sapMILI-CTX .sapMInputBaseContentWrapperError,
.sapMInputBaseContentWrapper,
.sapMSlt {
    background-color: transparent;
}
.sapMInputBaseContentWrapperWarning {
    background: 0 100% / 100% 0.0625rem no-repeat linear-gradient(0deg, #e76500, #e76500) border-box;
}
.sapMLIB {
    padding: 0 1rem;
}
.sapMSFF {
    background: 0 100% / 100% 0rem no-repeat linear-gradient(0deg, #556b81, #556b81) border-box !important;
    /* background-color: #eff1f2 !important; */
    border: solid 0.5px #556b81;
}
html.sap-desktop .sapMSelectListItemBase:focus::after,
.sapMSltPicker-CTX .sapMSelectListItemBaseSelected::after,
.sapMComboBoxBasePicker-CTX .sapMSelectListItemBaseSelected::after {
    outline: 0.08rem solid #0070f2;
}
html.sap-desktop .sapMFooter-CTX .sapMBtnInner.sapMBtnReject {
    border-color: transparent !important;
}
span.sapMBtnInner.sapMBtnReject {
    background-color: transparent !important;
    color: #bd0808;
    border-color: transparent !important;
}
:not(.sapMBtnDisabled):not(.sapMSBActive) > span.sapMBtnInner.sapMBtnReject:not(.sapMBtnActive):not(.sapMToggleBtnPressed) > .sapMBtnIcon {
    color: #bd0808;
}
.sapFCard .sapFCardHeader .sapFCardHeaderText .sapFCardTitle {
    font-weight: bold !important;
}
.uisapTitle {
    font-size: 0.875em;
    font-weight: bold;
}
.tpTitle {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--sapContent_Illustrative_Color13);
}
.text-white {
    color: #fff;
}
.text-black {
    color: #171717 !important;
}
.sapMSLITitle,
.sapMSLITitleOnly {
    font-size: 0.9rem;
    font-weight: bold;
}
.sapMSLIDescription,
.sapMSLIDescriptionText {
    font-size: 0.85rem;
    color: #556b82;
}
.uisapSubTitle {
    font-size: 0.7em;
    letter-spacing: 0.1rem;
    font-weight: bold;
}
.stt:nth-child(1) {
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 10px;
}
.stt:nth-child(2) {
    padding-left: 10px;
    margin-bottom: 10px;
    font-style: italic;
}
.bg-gray,
.bg-gray li {
    background-color: #f7f7f7;
}
.spToolbar {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.cursor-hand {
    cursor: pointer;
}
.max-900 {
    max-width: 900px !important;
}
.max-700 {
    max-width: 700px !important;
}
.max-350 {
    max-width: 350px !important;
}
.max-300 {
    max-width: 300px !important;
}
.max-500 {
    max-width: 500px !important;
}
.min-300 {
    min-width: 300px !important;
}
.w-100 {
    width: 100%;
}
.h-100 {
    /* height: calc(100vh - 100%); */
    height: 100%;
}
.h-auto {
    height: auto !important;
}
.max-h-700 {
    max-height: 700px !important;
}
.vh-100 {
    height: 100vh !important;
    height: calc(var(--vh, 1vh) * 100 - 48px) !important;
}
.sp-overflow {
    overflow-y: auto;
    overflow-x: hidden;
}
.text-center {
    text-align: center !important;
}
.center-center {
    justify-content: center;
    align-items: center;
    display: flex;
}
.absolute {
    position: absolute !important;
}
.absolute-center {
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold !important;
    font-size: 1rem !important;
}
.relative {
    position: relative !important;
}
.d-flex {
    display: flex !important;
}
.d-block {
    display: block !important;
}
.d-none {
    display: none !important;
}
.d-inline-block {
    display: inline-block !important;
}
.flex-revert {
    flex-direction: revert !important;
}
.flex-column {
    flex-direction: column !important;
}
.flex-wrap {
    flex-wrap: wrap !important;
}
.fw-bold {
    font-weight: bold !important;
}
.fw-italic {
    font-style: italic !important;
}
.fs-1_5rem {
    font-size: 1.5rem;
}
.fs-1_2rem {
    font-size: 1.2rem;
}
.fs-1rem {
    font-size: 1rem;
}
.fs-0_9rem {
    font-size: 0.9rem;
}
.fs-0_8rem {
    font-size: 0.79rem;
}
.justify-space-between {
    justify-content: space-between;
}
.justify-space-around {
    justify-content: space-around;
}
.justify-flex-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.align-stretch {
    align-items: stretch;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
.spIcon {
    display: inline;
}
.spH4 {
    display: inline;
}
.addBtn {
    float: right;
}
.upperCase {
    text-transform: uppercase;
}
.spOutlined {
    border: 1px solid #dadada;
    border-radius: 4px;
}
.underline {
    text-decoration: underline;
}
hr {
    height: 1px !important;
    background-color: #dadada;
    border: none;
}
h4 {
    font-weight: 400;
    font-family: "Nunito", sans-serif !important;
}
.border-none {
    border: none !important;
}

*:focus::after,
*:focus {
    border: none !important;
    outline: none !important;
}

:root {
    --primary-color: #009258;
    --secondary-color: #ed7700;
}
table,
tr,
td,
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
ui5-badge-ui5,
.sapFCard,
.sapFCardHeader,
.sapFCardHeaderText,
.sapFCardTitle,
.sapFCardSubtitle,
.sapMText,
.sapMLabel,
.sapMSLIDescriptionText,
.sapMSLIInfo,
.sapMSLIInfoNone,
.sapUiSizeCompact .sapMSLITitle,
.sapUiSizeCompact .sapMSLITitleOnly,
.sapFShellBar .sapFShellBarSecondTitle,
.sapMSFI,
.sapMInputBaseInner,
.sapMTitle,
.sapMSLITitle,
.sapMSLITitleOnly,
.sapMValueStateHeaderText,
.sapMListNoDataText,
.sapMSlt,
.sapMSelectListItemBase,
.sapMSelectListItem,
.sapUiCalMonthView,
.sapUiCalHead,
.sapUiCalHead > button,
.sapUiCalCancel,
.sapMGHLITitle,
.sapMGHLICounter,
.sapMMessageToast,
.sapMStdTileTitle,
.sapMFT,
.sapMBtnContent,
.sapUiTableCtrlEmptyMsg,
.sapMSegBBtnInner,
.sapMSLIDescription,
.sapUiCalendarAppTitle,
.sapUiCalendarAppDescription,
.sapMLnk,
.sapUiVltCell .sapuiVltCell,
.sapUiUnifiedLegendDescription {
    font-family: "Nunito", sans-serif !important;
}
.sapMBtnContent,
.sapMSegBBtnInner {
    font-weight: 600 !important;
}
.sapMStdTileIconDiv {
    color: var(--primary-color);
}

.sapMTile.sapMTileActive {
    background: var(--primary-color) !important;
    color: white !important;
}
.sapMRb:focus:before {
    border: none !important;
}
/* ******************************** */

/* PADDINGS */
.pa-0 {
    padding: 0px !important;
}
.pa-1 {
    padding: 4px !important;
}
.pa-2 {
    padding: 8px !important;
}
.pa-3 {
    padding: 12px !important;
}
.pa-4 {
    padding: 16px !important;
}
.pa-5 {
    padding: 20px !important;
}
.pa-6 {
    padding: 24px !important;
}
.pa-7 {
    padding: 28px !important;
}
.pa-8 {
    padding: 32px !important;
}
.pa-9 {
    padding: 36px !important;
}
.pa-10 {
    padding: 40px !important;
}
.pa-11 {
    padding: 44px !important;
}
.pa-12 {
    padding: 48px !important;
}
.pa-13 {
    padding: 52px !important;
}
.pa-14 {
    padding: 56px !important;
}
.pa-15 {
    padding: 60px !important;
}
.pa-16 {
    padding: 64px !important;
}
.py-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.py-1 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
.py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
.py-3 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
.py-4 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.py-5 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.py-6 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}
.py-7 {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
}
.py-8 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}
.py-9 {
    padding-top: 36px !important;
    padding-bottom: 36px !important;
}
.py-10 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.py-11 {
    padding-top: 44px !important;
    padding-bottom: 44px !important;
}
.py-12 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}
.py-13 {
    padding-top: 52px !important;
    padding-bottom: 52px !important;
}
.py-14 {
    padding-top: 56px !important;
    padding-bottom: 56px !important;
}
.py-15 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}
.py-16 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}
.px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.px-1 {
    padding-left: 4px !important;
    padding-right: 4px !important;
}
.px-2 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.px-3 {
    padding-left: 12px !important;
    padding-right: 12px !important;
}
.px-4 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.px-5 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.px-6 {
    padding-left: 24px !important;
    padding-right: 24px !important;
}
.px-7 {
    padding-left: 28px !important;
    padding-right: 28px !important;
}
.px-8 {
    padding-left: 32px !important;
    padding-right: 32px !important;
}
.px-9 {
    padding-left: 36px !important;
    padding-right: 36px !important;
}
.px-10 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.px-11 {
    padding-left: 44px !important;
    padding-right: 44px !important;
}
.px-12 {
    padding-left: 48px !important;
    padding-right: 48px !important;
}
.px-13 {
    padding-left: 52px !important;
    padding-right: 52px !important;
}
.px-14 {
    padding-left: 56px !important;
    padding-right: 56px !important;
}
.px-15 {
    padding-left: 60px !important;
    padding-right: 60px !important;
}
.px-16 {
    padding-left: 64px !important;
    padding-right: 64px !important;
}
.pl-0 {
    padding-left: 0px !important;
}
.pr-0 {
    padding-right: 0px !important;
}
.pt-0 {
    padding-top: 0px !important;
}
.pb-0 {
    padding-bottom: 0px !important;
}
.pl-1 {
    padding-left: 4px !important;
}
.pr-1 {
    padding-right: 4px !important;
}
.pt-1 {
    padding-top: 4px !important;
}
.pb-1 {
    padding-bottom: 4px !important;
}
.pl-2 {
    padding-left: 8px !important;
}
.pr-2 {
    padding-right: 8px !important;
}
.pt-2 {
    padding-top: 8px !important;
}
.pb-2 {
    padding-bottom: 8px !important;
}
.pl-3 {
    padding-left: 12px !important;
}
.pr-3 {
    padding-right: 12px !important;
}
.pt-3 {
    padding-top: 12px !important;
}
.pb-3 {
    padding-bottom: 12px !important;
}
.pl-4 {
    padding-left: 16px !important;
}
.pr-4 {
    padding-right: 16px !important;
}
.pt-4 {
    padding-top: 16px !important;
}
.pb-4 {
    padding-bottom: 16px !important;
}
.pl-5 {
    padding-left: 20px !important;
}
.pr-5 {
    padding-right: 20px !important;
}
.pt-5 {
    padding-top: 20px !important;
}
.pb-5 {
    padding-bottom: 20px !important;
}
.pl-6 {
    padding-left: 24px !important;
}
.pr-6 {
    padding-right: 24px !important;
}
.pt-6 {
    padding-top: 24px !important;
}
.pb-6 {
    padding-bottom: 24px !important;
}
.pl-7 {
    padding-left: 28px !important;
}
.pr-7 {
    padding-right: 28px !important;
}
.pt-7 {
    padding-top: 28px !important;
}
.pb-7 {
    padding-bottom: 28px !important;
}
.pl-8 {
    padding-left: 32px !important;
}
.pr-8 {
    padding-right: 32px !important;
}
.pt-8 {
    padding-top: 32px !important;
}
.pb-8 {
    padding-bottom: 32px !important;
}
.pl-9 {
    padding-left: 36px !important;
}
.pr-9 {
    padding-right: 36px !important;
}
.pt-9 {
    padding-top: 36px !important;
}
.pb-9 {
    padding-bottom: 36px !important;
}
.pl-10 {
    padding-left: 40px !important;
}
.pr-10 {
    padding-right: 40px !important;
}
.pt-10 {
    padding-top: 40px !important;
}
.pb-10 {
    padding-bottom: 40px !important;
}
.pl-11 {
    padding-left: 44px !important;
}
.pr-11 {
    padding-right: 44px !important;
}
.pt-11 {
    padding-top: 44px !important;
}
.pb-11 {
    padding-bottom: 44px !important;
}
.pl-12 {
    padding-left: 48px !important;
}
.pr-12 {
    padding-right: 48px !important;
}
.pt-12 {
    padding-top: 48px !important;
}
.pb-12 {
    padding-bottom: 48px !important;
}
.pl-13 {
    padding-left: 52px !important;
}
.pr-13 {
    padding-right: 52px !important;
}
.pt-13 {
    padding-top: 52px !important;
}
.pb-13 {
    padding-bottom: 52px !important;
}
.pl-14 {
    padding-left: 56px !important;
}
.pr-14 {
    padding-right: 56px !important;
}
.pt-14 {
    padding-top: 56px !important;
}
.pb-14 {
    padding-bottom: 56px !important;
}
.pl-15 {
    padding-left: 60px !important;
}
.pr-15 {
    padding-right: 60px !important;
}
.pt-15 {
    padding-top: 60px !important;
}
.pb-15 {
    padding-bottom: 60px !important;
}
.pl-16 {
    padding-left: 64px !important;
}
.pr-16 {
    padding-right: 64px !important;
}
.pt-16 {
    padding-top: 64px !important;
}
.pb-16 {
    padding-bottom: 64px !important;
}

/* MARGINS */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.ma-0 {
    margin: 0px !important;
}
.ma-1 {
    margin: 4px !important;
}
.ma-2 {
    margin: 8px !important;
}
.ma-3 {
    margin: 12px !important;
}
.ma-4 {
    margin: 16px !important;
}
.ma-5 {
    margin: 20px !important;
}
.ma-6 {
    margin: 24px !important;
}
.ma-7 {
    margin: 28px !important;
}
.ma-8 {
    margin: 32px !important;
}
.ma-9 {
    margin: 36px !important;
}
.ma-10 {
    margin: 40px !important;
}
.ma-11 {
    margin: 44px !important;
}
.ma-12 {
    margin: 48px !important;
}
.ma-13 {
    margin: 52px !important;
}
.ma-14 {
    margin: 56px !important;
}
.ma-15 {
    margin: 60px !important;
}
.ma-16 {
    margin: 64px !important;
}
.my-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.my-1 {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}
.my-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
.my-3 {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}
.my-4 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}
.my-5 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.my-6 {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}
.my-7 {
    margin-top: 28px !important;
    margin-bottom: 28px !important;
}
.my-8 {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}
.my-9 {
    margin-top: 36px !important;
    margin-bottom: 36px !important;
}
.my-10 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}
.my-11 {
    margin-top: 44px !important;
    margin-bottom: 44px !important;
}
.my-12 {
    margin-top: 48px !important;
    margin-bottom: 48px !important;
}
.my-13 {
    margin-top: 52px !important;
    margin-bottom: 52px !important;
}
.my-14 {
    margin-top: 56px !important;
    margin-bottom: 56px !important;
}
.my-15 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}
.my-16 {
    margin-top: 64px !important;
    margin-bottom: 64px !important;
}
.mx-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.mx-1 {
    margin-left: 4px !important;
    margin-right: 4px !important;
}
.mx-2 {
    margin-left: 8px !important;
    margin-right: 8px !important;
}
.mx-3 {
    margin-left: 12px !important;
    margin-right: 12px !important;
}
.mx-4 {
    margin-left: 16px !important;
    margin-right: 16px !important;
}
.mx-5 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.mx-6 {
    margin-left: 24px !important;
    margin-right: 24px !important;
}
.mx-7 {
    margin-left: 28px !important;
    margin-right: 28px !important;
}
.mx-8 {
    margin-left: 32px !important;
    margin-right: 32px !important;
}
.mx-9 {
    margin-left: 36px !important;
    margin-right: 36px !important;
}
.mx-10 {
    margin-left: 40px !important;
    margin-right: 40px !important;
}
.mx-11 {
    margin-left: 44px !important;
    margin-right: 44px !important;
}
.mx-12 {
    margin-left: 48px !important;
    margin-right: 48px !important;
}
.mx-13 {
    margin-left: 52px !important;
    margin-right: 52px !important;
}
.mx-14 {
    margin-left: 56px !important;
    margin-right: 56px !important;
}
.mx-15 {
    margin-left: 60px !important;
    margin-right: 60px !important;
}
.mx-16 {
    margin-left: 64px !important;
    margin-right: 64px !important;
}
.ml-0 {
    margin-left: 0px !important;
}
.mr-0 {
    margin-right: 0px !important;
}
.mt-0 {
    margin-top: 0px !important;
}
.mb-0 {
    margin-bottom: 0px !important;
}
.ml-1 {
    margin-left: 4px !important;
}
.mr-1 {
    margin-right: 4px !important;
}
.mt-1 {
    margin-top: 4px !important;
}
.mb-1 {
    margin-bottom: 4px !important;
}
.ml-2 {
    margin-left: 8px !important;
}
.mr-2 {
    margin-right: 8px !important;
}
.mt-2 {
    margin-top: 8px !important;
}
.mb-2 {
    margin-bottom: 8px !important;
}
.ml-3 {
    margin-left: 12px !important;
}
.mr-3 {
    margin-right: 12px !important;
}
.mt-3 {
    margin-top: 12px !important;
}
.mb-3 {
    margin-bottom: 12px !important;
}
.ml-4 {
    margin-left: 16px !important;
}
.mr-4 {
    margin-right: 16px !important;
}
.mt-4 {
    margin-top: 16px !important;
}
.mb-4 {
    margin-bottom: 16px !important;
}
.ml-5 {
    margin-left: 20px !important;
}
.mr-5 {
    margin-right: 20px !important;
}
.mt-5 {
    margin-top: 20px !important;
}
.mb-5 {
    margin-bottom: 20px !important;
}
.ml-6 {
    margin-left: 24px !important;
}
.mr-6 {
    margin-right: 24px !important;
}
.mt-6 {
    margin-top: 24px !important;
}
.mb-6 {
    margin-bottom: 24px !important;
}
.ml-7 {
    margin-left: 28px !important;
}
.mr-7 {
    margin-right: 28px !important;
}
.mt-7 {
    margin-top: 28px !important;
}
.mb-7 {
    margin-bottom: 28px !important;
}
.ml-8 {
    margin-left: 32px !important;
}
.mr-8 {
    margin-right: 32px !important;
}
.mt-8 {
    margin-top: 32px !important;
}
.mb-8 {
    margin-bottom: 32px !important;
}
.ml-9 {
    margin-left: 36px !important;
}
.mr-9 {
    margin-right: 36px !important;
}
.mt-9 {
    margin-top: 36px !important;
}
.mb-9 {
    margin-bottom: 36px !important;
}
.ml-10 {
    margin-left: 40px !important;
}
.mr-10 {
    margin-right: 40px !important;
}
.mt-10 {
    margin-top: 40px !important;
}
.mb-10 {
    margin-bottom: 40px !important;
}
.ml-11 {
    margin-left: 44px !important;
}
.mr-11 {
    margin-right: 44px !important;
}
.mt-11 {
    margin-top: 44px !important;
}
.mb-11 {
    margin-bottom: 44px !important;
}
.ml-12 {
    margin-left: 48px !important;
}
.mr-12 {
    margin-right: 48px !important;
}
.mt-12 {
    margin-top: 48px !important;
}
.mb-12 {
    margin-bottom: 48px !important;
}
.ml-13 {
    margin-left: 52px !important;
}
.mr-13 {
    margin-right: 52px !important;
}
.mt-13 {
    margin-top: 52px !important;
}
.mb-13 {
    margin-bottom: 52px !important;
}
.ml-14 {
    margin-left: 56px !important;
}
.mr-14 {
    margin-right: 56px !important;
}
.mt-14 {
    margin-top: 56px !important;
}
.mb-14 {
    margin-bottom: 56px !important;
}
.ml-15 {
    margin-left: 60px !important;
}
.mr-15 {
    margin-right: 60px !important;
}
.mt-15 {
    margin-top: 60px !important;
}
.mb-15 {
    margin-bottom: 60px !important;
}
.ml-16 {
    margin-left: 64px !important;
}
.mr-16 {
    margin-right: 64px !important;
}
.mt-16 {
    margin-top: 64px !important;
}
.mb-16 {
    margin-bottom: 64px !important;
}
/* ******************************  NEGEATIVE ******************************* */
.ma-n1 {
    margin: -4px !important;
}
.ma-n2 {
    margin: -8px !important;
}
.ma-n3 {
    margin: -12px !important;
}
.ma-n4 {
    margin: -16px !important;
}
.ma-n5 {
    margin: -20px !important;
}
.ma-n6 {
    margin: -24px !important;
}
.ma-n7 {
    margin: -28px !important;
}
.ma-n8 {
    margin: -32px !important;
}
.ma-n9 {
    margin: -36px !important;
}
.ma-n10 {
    margin: -40px !important;
}
.ma-n11 {
    margin: -44px !important;
}
.ma-n12 {
    margin: -48px !important;
}
.ma-n13 {
    margin: -52px !important;
}
.ma-n14 {
    margin: -56px !important;
}
.ma-n15 {
    margin: -60px !important;
}
.ma-n16 {
    margin: -64px !important;
}
.mb-n1 {
    margin-bottom: -4px !important;
}
.mb-n2 {
    margin-bottom: -8px !important;
}
.mb-n3 {
    margin-bottom: -12px !important;
}
.mb-n4 {
    margin-bottom: -16px !important;
}
.mb-n5 {
    margin-bottom: -20px !important;
}
.mb-n6 {
    margin-bottom: -24px !important;
}
.mb-n7 {
    margin-bottom: -28px !important;
}
.mb-n8 {
    margin-bottom: -32px !important;
}
.mb-n9 {
    margin-bottom: -36px !important;
}
.mb-n10 {
    margin-bottom: -40px !important;
}
.mb-n11 {
    margin-bottom: -44px !important;
}
.mb-n12 {
    margin-bottom: -48px !important;
}
.mb-n13 {
    margin-bottom: -52px !important;
}
.mb-n14 {
    margin-bottom: -56px !important;
}
.mb-n15 {
    margin-bottom: -60px !important;
}
.mb-n16 {
    margin-bottom: -64px !important;
}
.mt-n1 {
    margin-top: -4px !important;
}
.mt-n2 {
    margin-top: -8px !important;
}
.mt-n3 {
    margin-top: -12px !important;
}
.mt-n4 {
    margin-top: -16px !important;
}
.mt-n5 {
    margin-top: -20px !important;
}
.mt-n6 {
    margin-top: -24px !important;
}
.mt-n7 {
    margin-top: -28px !important;
}
.mt-n8 {
    margin-top: -32px !important;
}
.mt-n9 {
    margin-top: -36px !important;
}
.mt-n10 {
    margin-top: -40px !important;
}
.mt-n11 {
    margin-top: -44px !important;
}
.mt-n12 {
    margin-top: -48px !important;
}
.mt-n13 {
    margin-top: -52px !important;
}
.mt-n14 {
    margin-top: -56px !important;
}
.mt-n15 {
    margin-top: -60px !important;
}
.mt-n16 {
    margin-top: -64px !important;
}
.ml-n1 {
    margin-left: -4px !important;
}
.ml-n2 {
    margin-left: -8px !important;
}
.ml-n3 {
    margin-left: -12px !important;
}
.ml-n4 {
    margin-left: -16px !important;
}
.ml-n5 {
    margin-left: -20px !important;
}
.ml-n6 {
    margin-left: -24px !important;
}
.ml-n7 {
    margin-left: -28px !important;
}
.ml-n8 {
    margin-left: -32px !important;
}
.ml-n9 {
    margin-left: -36px !important;
}
.ml-n10 {
    margin-left: -40px !important;
}
.ml-n11 {
    margin-left: -44px !important;
}
.ml-n12 {
    margin-left: -48px !important;
}
.ml-n13 {
    margin-left: -52px !important;
}
.ml-n14 {
    margin-left: -56px !important;
}
.ml-n15 {
    margin-left: -60px !important;
}
.ml-n16 {
    margin-left: -64px !important;
}
.mr-n1 {
    margin-right: -4px !important;
}
.mr-n2 {
    margin-right: -8px !important;
}
.mr-n3 {
    margin-right: -12px !important;
}
.mr-n4 {
    margin-right: -16px !important;
}
.mr-n5 {
    margin-right: -20px !important;
}
.mr-n6 {
    margin-right: -24px !important;
}
.mr-n7 {
    margin-right: -28px !important;
}
.mr-n8 {
    margin-right: -32px !important;
}
.mr-n9 {
    margin-right: -36px !important;
}
.mr-n10 {
    margin-right: -40px !important;
}
.mr-n11 {
    margin-right: -44px !important;
}
.mr-n12 {
    margin-right: -48px !important;
}
.mr-n13 {
    margin-right: -52px !important;
}
.mr-n14 {
    margin-right: -56px !important;
}
.mr-n15 {
    margin-right: -60px !important;
}
.mr-n16 {
    margin-right: -64px !important;
}
.mx-n1 {
    margin-right: -4px !important;
    margin-left: -4px !important;
}
.mx-n2 {
    margin-right: -8px !important;
    margin-left: -8px !important;
}
.mx-n3 {
    margin-right: -12px !important;
    margin-left: -12px !important;
}
.mx-n4 {
    margin-right: -16px !important;
    margin-left: -16px !important;
}
.mx-n5 {
    margin-right: -20px !important;
    margin-left: -20px !important;
}
.mx-n6 {
    margin-right: -24px !important;
    margin-left: -24px !important;
}
.mx-n7 {
    margin-right: -28px !important;
    margin-left: -28px !important;
}
.mx-n8 {
    margin-right: -32px !important;
    margin-left: -32px !important;
}
.mx-n9 {
    margin-right: -36px !important;
    margin-left: -36px !important;
}
.mx-n10 {
    margin-right: -40px !important;
    margin-left: -40px !important;
}
.mx-n11 {
    margin-right: -44px !important;
    margin-left: -44px !important;
}
.mx-n12 {
    margin-right: -48px !important;
    margin-left: -48px !important;
}
.mx-n13 {
    margin-right: -52px !important;
    margin-left: -52px !important;
}
.mx-n14 {
    margin-right: -56px !important;
    margin-left: -56px !important;
}
.mx-n15 {
    margin-right: -60px !important;
    margin-left: -60px !important;
}
.mx-n16 {
    margin-right: -64px !important;
    margin-left: -64px !important;
}
.my-n1 {
    margin-top: -4px !important;
    margin-bottom: -4px !important;
}
.my-n2 {
    margin-top: -8px !important;
    margin-bottom: -8px !important;
}
.my-n3 {
    margin-top: -12px !important;
    margin-bottom: -12px !important;
}
.my-n4 {
    margin-top: -16px !important;
    margin-bottom: -16px !important;
}
.my-n5 {
    margin-top: -20px !important;
    margin-bottom: -20px !important;
}
.my-n6 {
    margin-top: -24px !important;
    margin-bottom: -24px !important;
}
.my-n7 {
    margin-top: -28px !important;
    margin-bottom: -28px !important;
}
.my-n8 {
    margin-top: -32px !important;
    margin-bottom: -32px !important;
}
.my-n9 {
    margin-top: -36px !important;
    margin-bottom: -36px !important;
}
.my-n10 {
    margin-top: -40px !important;
    margin-bottom: -40px !important;
}
.my-n11 {
    margin-top: -44px !important;
    margin-bottom: -44px !important;
}
.my-n12 {
    margin-top: -48px !important;
    margin-bottom: -48px !important;
}
.my-n13 {
    margin-top: -52px !important;
    margin-bottom: -52px !important;
}
.my-n14 {
    margin-top: -56px !important;
    margin-bottom: -56px !important;
}
.my-n15 {
    margin-top: -60px !important;
    margin-bottom: -60px !important;
}
.my-n16 {
    margin-top: -64px !important;
    margin-bottom: -64px !important;
}

.pa-n1 {
    padding: -4px !important;
}
.pa-n2 {
    padding: -8px !important;
}
.pa-n3 {
    padding: -12px !important;
}
.pa-n4 {
    padding: -16px !important;
}
.pa-n5 {
    padding: -20px !important;
}
.pa-n6 {
    padding: -24px !important;
}
.pa-n7 {
    padding: -28px !important;
}
.pa-n8 {
    padding: -32px !important;
}
.pa-n9 {
    padding: -36px !important;
}
.pa-n10 {
    padding: -40px !important;
}
.pa-n11 {
    padding: -44px !important;
}
.pa-n12 {
    padding: -48px !important;
}
.pa-n13 {
    padding: -52px !important;
}
.pa-n14 {
    padding: -56px !important;
}
.pa-n15 {
    padding: -60px !important;
}
.pa-n16 {
    padding: -64px !important;
}
.pb-n1 {
    padding-bottom: -4px !important;
}
.pb-n2 {
    padding-bottom: -8px !important;
}
.pb-n3 {
    padding-bottom: -12px !important;
}
.pb-n4 {
    padding-bottom: -16px !important;
}
.pb-n5 {
    padding-bottom: -20px !important;
}
.pb-n6 {
    padding-bottom: -24px !important;
}
.pb-n7 {
    padding-bottom: -28px !important;
}
.pb-n8 {
    padding-bottom: -32px !important;
}
.pb-n9 {
    padding-bottom: -36px !important;
}
.pb-n10 {
    padding-bottom: -40px !important;
}
.pb-n11 {
    padding-bottom: -44px !important;
}
.pb-n12 {
    padding-bottom: -48px !important;
}
.pb-n13 {
    padding-bottom: -52px !important;
}
.pb-n14 {
    padding-bottom: -56px !important;
}
.pb-n15 {
    padding-bottom: -60px !important;
}
.pb-n16 {
    padding-bottom: -64px !important;
}
.pt-n1 {
    padding-top: -4px !important;
}
.pt-n2 {
    padding-top: -8px !important;
}
.pt-n3 {
    padding-top: -12px !important;
}
.pt-n4 {
    padding-top: -16px !important;
}
.pt-n5 {
    padding-top: -20px !important;
}
.pt-n6 {
    padding-top: -24px !important;
}
.pt-n7 {
    padding-top: -28px !important;
}
.pt-n8 {
    padding-top: -32px !important;
}
.pt-n9 {
    padding-top: -36px !important;
}
.pt-n10 {
    padding-top: -40px !important;
}
.pt-n11 {
    padding-top: -44px !important;
}
.pt-n12 {
    padding-top: -48px !important;
}
.pt-n13 {
    padding-top: -52px !important;
}
.pt-n14 {
    padding-top: -56px !important;
}
.pt-n15 {
    padding-top: -60px !important;
}
.pt-n16 {
    padding-top: -64px !important;
}
.pl-n1 {
    padding-left: -4px !important;
}
.pl-n2 {
    padding-left: -8px !important;
}
.pl-n3 {
    padding-left: -12px !important;
}
.pl-n4 {
    padding-left: -16px !important;
}
.pl-n5 {
    padding-left: -20px !important;
}
.pl-n6 {
    padding-left: -24px !important;
}
.pl-n7 {
    padding-left: -28px !important;
}
.pl-n8 {
    padding-left: -32px !important;
}
.pl-n9 {
    padding-left: -36px !important;
}
.pl-n10 {
    padding-left: -40px !important;
}
.pl-n11 {
    padding-left: -44px !important;
}
.pl-n12 {
    padding-left: -48px !important;
}
.pl-n13 {
    padding-left: -52px !important;
}
.pl-n14 {
    padding-left: -56px !important;
}
.pl-n15 {
    padding-left: -60px !important;
}
.pl-n16 {
    padding-left: -64px !important;
}
.pr-n1 {
    padding-right: -4px !important;
}
.pr-n2 {
    padding-right: -8px !important;
}
.pr-n3 {
    padding-right: -12px !important;
}
.pr-n4 {
    padding-right: -16px !important;
}
.pr-n5 {
    padding-right: -20px !important;
}
.pr-n6 {
    padding-right: -24px !important;
}
.pr-n7 {
    padding-right: -28px !important;
}
.pr-n8 {
    padding-right: -32px !important;
}
.pr-n9 {
    padding-right: -36px !important;
}
.pr-n10 {
    padding-right: -40px !important;
}
.pr-n11 {
    padding-right: -44px !important;
}
.pr-n12 {
    padding-right: -48px !important;
}
.pr-n13 {
    padding-right: -52px !important;
}
.pr-n14 {
    padding-right: -56px !important;
}
.pr-n15 {
    padding-right: -60px !important;
}
.pr-n16 {
    padding-right: -64px !important;
}
.px-n1 {
    padding-right: -4px !important;
    padding-left: -4px !important;
}
.px-n2 {
    padding-right: -8px !important;
    padding-left: -8px !important;
}
.px-n3 {
    padding-right: -12px !important;
    padding-left: -12px !important;
}
.px-n4 {
    padding-right: -16px !important;
    padding-left: -16px !important;
}
.px-n5 {
    padding-right: -20px !important;
    padding-left: -20px !important;
}
.px-n6 {
    padding-right: -24px !important;
    padding-left: -24px !important;
}
.px-n7 {
    padding-right: -28px !important;
    padding-left: -28px !important;
}
.px-n8 {
    padding-right: -32px !important;
    padding-left: -32px !important;
}
.px-n9 {
    padding-right: -36px !important;
    padding-left: -36px !important;
}
.px-n10 {
    padding-right: -40px !important;
    padding-left: -40px !important;
}
.px-n11 {
    padding-right: -44px !important;
    padding-left: -44px !important;
}
.px-n12 {
    padding-right: -48px !important;
    padding-left: -48px !important;
}
.px-n13 {
    padding-right: -52px !important;
    padding-left: -52px !important;
}
.px-n14 {
    padding-right: -56px !important;
    padding-left: -56px !important;
}
.px-n15 {
    padding-right: -60px !important;
    padding-left: -60px !important;
}
.px-n16 {
    padding-right: -64px !important;
    padding-left: -64px !important;
}
.py-n1 {
    padding-top: -4px !important;
    padding-bottom: -4px !important;
}
.py-n2 {
    padding-top: -8px !important;
    padding-bottom: -8px !important;
}
.py-n3 {
    padding-top: -12px !important;
    padding-bottom: -12px !important;
}
.py-n4 {
    padding-top: -16px !important;
    padding-bottom: -16px !important;
}
.py-n5 {
    padding-top: -20px !important;
    padding-bottom: -20px !important;
}
.py-n6 {
    padding-top: -24px !important;
    padding-bottom: -24px !important;
}
.py-n7 {
    padding-top: -28px !important;
    padding-bottom: -28px !important;
}
.py-n8 {
    padding-top: -32px !important;
    padding-bottom: -32px !important;
}
.py-n9 {
    padding-top: -36px !important;
    padding-bottom: -36px !important;
}
.py-n10 {
    padding-top: -40px !important;
    padding-bottom: -40px !important;
}
.py-n11 {
    padding-top: -44px !important;
    padding-bottom: -44px !important;
}
.py-n12 {
    padding-top: -48px !important;
    padding-bottom: -48px !important;
}
.py-n13 {
    padding-top: -52px !important;
    padding-bottom: -52px !important;
}
.py-n14 {
    padding-top: -56px !important;
    padding-bottom: -56px !important;
}
.py-n15 {
    padding-top: -60px !important;
    padding-bottom: -60px !important;
}
.py-n16 {
    padding-top: -64px !important;
    padding-bottom: -64px !important;
}
.gap-0 {
    gap: 0 !important;
}
.gap-1 {
    gap: 4px !important;
}
.gap-2 {
    gap: 8px !important;
}
.gap-3 {
    gap: 12px !important;
}
.gap-4 {
    gap: 16px !important;
}
.gap-5 {
    gap: 20px !important;
}
.gap-6 {
    gap: 24px !important;
}
.gap-7 {
    gap: 28px !important;
}
.gap-8 {
    gap: 32px !important;
}
.gap-9 {
    gap: 36px !important;
}
.gap-10 {
    gap: 40px !important;
}
.gap-11 {
    gap: 44px !important;
}
.gap-12 {
    gap: 48px !important;
}
.gap-13 {
    gap: 52px !important;
}
.gap-14 {
    gap: 56px !important;
}
.gap-15 {
    gap: 60px !important;
}
.gap-16 {
    gap: 64px !important;
}

/* @media (max-width: 425px) { */
.smallLink {
    width: 100%;
    max-width: 150px;
}
/* } */

/* ************************************************** */
.welcomeContainer {
    width: 100%;
    max-width: 400px;
    outline: solid 1px;
}
.tileContainer {
    width: 100%;
    max-width: 1500px;
}
.welcomeText {
    font-size: 1.7rem;
    /* color: white; */
}
.welcomeSubText {
    font-size: 1rem;
    color: #444444;
}
.welcomeLogo {
    width: 100%;
    max-width: 200px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}
.small-logo {
    width: 100%;
    max-width: 140px;
    height: auto;
}
.spHr {
    width: 100%;
    max-width: 200px;
}

.actionCon {
    position: absolute;
    right: 16px;
}

@media only screen and (max-width: 1023px) {
    .VBoxCon {
        padding-top: 12px;
        margin-bottom: 90px;
    }
}

/* Small devices (landscape phones, 425px and up) */
@media (min-width: 425px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1024px and up) */
@media (min-width: 1024px) {
    .sapMSplitContainerMaster {
        width: 24rem !important;
    }
}

/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .sapMSplitContainerMaster {
        width: 29rem !important;
    }
}

/* Extra extra extra large devices (large desktops, 1440px and up) */
@media (min-width: 1440px) {
    .sapMSplitContainerMaster {
        width: 32rem !important;
    }
}

/* Extra extra extra extra large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) {
    .sapMSplitContainerMaster {
        width: 34rem !important;
    }
}

/* Extra extra extra extra extra large devices (large desktops, 1800px and up) */
@media (min-width: 1800px) {
    .sapMSplitContainerMaster {
        width: 39rem !important;
    }
}

/* Extra extra extra extra extra extra large devices (large desktops, 2000px and up) */
@media (min-width: 2000px) {
    .sapMSplitContainerMaster {
        width: 44rem !important;
    }
}
